body {
    background-color: rgb(97, 124, 136);
    margin-top: 50px;
}

label {
    font-size: 15px;
    font-weight: bolder;
}

form {
    background-color: rgba(71, 85, 81, 0.432);
    padding: 20px;
    border-radius: 10px;
    margin-top: -20px;
}

h1 {
    text-align: center;
}

p {
    font-style: italic;
}

figcaption {
    font-weight: bold;
}

input, button {
    background-color: rgb(184, 184, 184);
    margin: 5px;
}